.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
}

.friends-screen__channel-header {
  margin-bottom: 10px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  border-top: var(--main-border);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.user-component__column {
  margin-left: 20px;
}

/*
.Secret-Agent {
  background-color: #333d1c;
  border: 4px solid #d0b383;
}
*/
