.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 10px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: center;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.SAgent-name {
  margin-top: 10px;
}

.Agent-img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

#Kingsman-necklas {
  width: 55px;
  height: 55px;
  border-radius: 10px;
  border: var(--main-border);
  position: relative;
  right: 5px;
  bottom: 1px;
}

#Statesman-logo {
  border-radius: 10px;
  width: 80px;
  height: 80px;
  margin: 0 10px 10px 10px;
}

#S-weapons {
  border-radius: 10px;
  margin-top: 5px;
}

#S-Equipt {
  margin-top: 10px;
  padding-top: 15px;
  border-top: var(--main-border);
}
